{% extends 'base.html' %}
{% block category %}
    <section class="row align-items-md-stretch">
    <div class="col-md-4">
            <div class=" justify-content-center d-flex w-100 h-100 align-items-center border rounded-3 p-5">
                <div class="d-block text-center">
                    <h6 class="text-dark text-uppercase mb-2">Categories</h6>
                        {% for category in categories_list %}
                            <p class="badge border border-primary rounded-pill mx-1">
                                <a href="{% url 'category-list' category.slug %}" class="text-decoration-none">
                                    <i>{{ category.title }}</i>
                                </a>
                            </p>
                        {% endfor %}
                    <h6 class="text-dark text-uppercase my-2">Pagination</h6>
                    <div aria-label="..." class="justify-content-center d-flex mt-2">
                        {% include 'partials/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-4 mt-md-0 mt-lg-0">
            <div class="h-100 p-5 text-white bg-dark rounded-3 d-block">
                <h1 class="text-uppercase d-inline-block me-2 text-white">Electric personal transporter</h1>
                <p>The motorised micromobility vehicle for transporting an individual at speeds that do not normally
                    exceed 25 km/h (16 mph). Include electric skateboards, kick scooters, electric bicycle and
                    self-balancing unicycles.
                </p>
                <button class="btn btn-sm rounded-2 btn-secondary text-dark" type="button">
                    <i><strong>Contact us</strong></i></button>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section class="container my-4 p-0">
        {% for product in page_obj %}
            {% if forloop.first %}
                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-3 m-0 p-0">
            {% endif %}
            {% if forloop.counter > 3 %}
                <div class="card p-0 m-0 rounded-0 col border-top-0">
            {% else %}
                <div class="card p-0 m-0 rounded-0 col">
            {% endif %}
        <img src="data:image/jpg;base64, {{ product.image.base_64 }}" class="card-img-top" alt="...">
        <div class="card-body ps-4">
            <div class="card-title d-block text-center mb-1">
                <h4 class="d-block">{{ product.title }}</h4>
                <i class="d-inline-block text-primary badge border-primary border text-lowercase rounded-pill">
                    {{ product.category }}</i>
            </div>
            <div class="card-text mt-4">
                <ul>
                    <h6 class="p-0 m-0 mb-1 text-secondary text-uppercase">Main specifications:</h6>
                    {% for desc in product.get_description_as_list %}
                        <li>{{ desc }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between w-100 align-items-center ps-3 pe-3">
            <div class="btn-group align-items-baseline align-self-baseline" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light text-primary text-capitalize"><strong>🛒 Add to cart</strong>
                </button>
                <button type="button" class="btn btn-light text-danger">♥</button>
            </div>
            <h4 class="text-secondary d-inline p-0 m-0 d-block align-self-auto"><strong>
                {{ product.price|floatformat:-2 }} $</strong>
            </h4>
        </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-3 m-0 p-0">
        {% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </section>
{% endblock %}