{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap_v5.css' %}" rel="stylesheet">
    <style>
        @media (max-width: 768px) {
            .col {
                border-bottom: 0;
                border-left: 1px solid #d8d8d8 !important;
            }

            .col:last-child {
                border-bottom: 1px solid #d8d8d8;
            }
        }

        .col + .col {
            border-left: none;
        }
    </style>

</head>
<body>

<main>
    {% include 'partials/navigation.html' %}
    <div class="container my-4">
        {% block category %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2021
    </footer>
</main>

<script src="{% static 'js/bootstrap_v5.min.js' %}"></script>

</body>
</html>
