{% extends 'base.html' %}
{% block content %}
    <section class="container my-3 p-0 text-center">
        {% for product in object_list %}
            <p><a href="{% url 'product-detail' product.product.slug %}">{{ product.product.title }}</a>
                x{{ product.quantity }}
                per {{ product.product.price }}$
            <a href="{% url 'cart-add' product.product.slug 1 %}">Add 1</a>
            <a href="{% url 'cart-remove' product.product.slug 1 %}">Remove 1</a>
            <a href="{% url 'cart-remove' product.product.slug product.quantity %}">Remove all</a>
            </p>
            <p>{{ product.total_price|floatformat:-2 }}$</p>
        {% endfor %}
        <h5>Total cost:</h5>
        <h3>{{ total_price|floatformat:-2 }}$</h3>
    </section>
{% endblock %}